.container-cursos {
  background-image: url("../../../assets/background-waves.svg");
  width: 100vw;

  padding-top: 60px;
  background-color: #f4f4f4;
}

.container-cursos .fondo-main-content-cursos {
  width: 88vw;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  padding-bottom: 60px;
  padding-top: 20px;
}

.container-cursos .fondo-main-content-cursos .encabezado-content-cursos {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container-cursos
  .fondo-main-content-cursos
  .encabezado-content-cursos
  .titulo-formulario-curso {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
  width: 500px;
  margin: 0px;
}

.container-cursos
  .fondo-main-content-cursos
  .encabezado-content-cursos
  .btn-agregar-curso {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  color: #fff;
  fill: #fff;
  background: #c86dd7;
  border-radius: 12px;
  outline: none;
  border: none;
  text-align: center;
  height: 32px;
}
.container-cursos
  .fondo-main-content-cursos
  .encabezado-content-cursos
  .btn-agregar-curso:hover {
  background: #6200b3;
  font-weight: 600;
}
.container-cursos
  .fondo-main-content-cursos
  .encabezado-content-cursos
  .btn-agregar-curso:active {
  width: 132px;
  height: 34px;
}
.container-cursos
  .fondo-main-content-cursos
  .encabezado-content-cursos
  .btn-agregar-curso
  svg {
  height: 28px;
  width: 28px;
}

.tabla-cursos {
  text-align: left;
  position: relative;
  border-collapse: collapse;
  color: #333333;
  background-color: #fff;
  margin: auto;
  width: 90%;
}

td,
th {
  border: 2px solid #f4f4f4;
  padding: 20px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

th {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 0.5;
  background: #fff;
  border-radius: 0;
  position: sticky;
  top: 0;
  padding: 10px;
  text-align: center;
}

tbody tr td button {
  outline: none;
  border: none;
  width: 38px;
  height: 38px;
  background: none;
}

tbody tr td button svg {
  width: auto;
}

tbody tr td button:hover {
  width: 40px;
}

@media (max-width: 425px) {
  .container-cursos .fondo-main-content-cursos{
    width: 95%;
  }

  .container-cursos .fondo-main-content-cursos .encabezado-content-cursos{
    width: 95%;
  }
}
