.container-formulario-institucion {
  display: block; /* ocultar el contenedor por defecto */
  position: fixed; /* posición fija para que el contenedor no se mueva al hacer scroll */
  z-index: 1; /* colocar el contenedor en la parte superior de la pila de elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* permitir el desplazamiento si el contenido es demasiado grande */
  background-color: rgba(0, 0, 0, 0.4);

}

.formulario-institucion-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  padding-bottom: 40px;
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.message {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  opacity: 0;
  transition: 0.4s;
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.message-off {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  opacity: 1;
  left: 100%;
}

input:checked ~ .message {
  left: 100%;
  opacity: 1;
}

input:checked ~ .message-off {
  opacity: 0;
}

.round {
  border-radius: 34px;
}

.label-formulario-institucion {
  width: 100%;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

  color: #333333;
}

.input-formulario-institucion {
  width: 100%;
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 3px;
  height: 40px;
}

.btn-formulario {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  width: 160px;
  height: 40px;
  background: #ffc300;
  border-radius: 24px;
  border: none;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  margin: auto;
}

.btn-formulario:hover {
  background: #d7a502;
}

.btn-formulario:active {
  width: 162px;
  height: 42px;
}
.btn-formulario:disabled,
.btn-formulario[disabled] {
  background: #dadada;
}
.titulo-formulario-institucion {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 48px;

  color: #333333;
  width: 90%;
}
.formulario-institucion-crear-editar .formulario-institucion {
  display: grid;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  font-family: 'Poppins';
}

.control-formulario-institucion:nth-child(3) {
  grid-column-start: 2;
  grid-row-end: 1;
}

.formulario-contacto-institucion{
  display: flex;
  flex-wrap: wrap;
  grid-column-start: 1;
  grid-column-end: 3;
}

.error-input-formulario-institucion {
  color: #e3170a;
}

@media (max-width: 425px ){
  .formulario-institucion-crear-editar .formulario-institucion{
    display: flex;
    flex-direction: column;
  }
}
