<div class="container-inscripciones" *ngIf="usuarioRole == 'ADMIN' || usuarioRole == 'GUIATIC' ">
  <div class="fondo-main-content-inscripciones">
    <div class="encabezado-content-inscripciones">
      <h1 class="titulo-formulario-inscripcion">Inscripciones</h1>
    </div>
    <table class="tabla-inscripciones">
      <thead>
        <tr>
          <th>Curso</th>
          <th>Institucion</th>
          <th>Portal</th>
          <th>Ubicación</th>
          <th>Persona</th>
          <th>Documento</th>
          <th>Certificado</th>
          <th>Estado</th>

          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of inscripcionesRenderizar">
          <td>{{ item.capacitacion?.curso?.nombre }}</td>
          <td>{{ item.capacitacion?.institucion?.nombre }}</td>
          <td>{{ item.capacitacion?.horario?.portal?.nombre }}</td>
          <td>{{ item.capacitacion?.horario?.portal?.ubicacion }}</td>
          <td>{{ item.estudiante?.nombre }}</td>
          <td>{{ item.estudiante?.documento }}</td>
          <td> {{ item.certificacion?.fecha ? item.certificacion?.estado == "SI" ? "Se certifico el "+ (item.certificacion?.fecha | date : 'dd/MM/yyyy' ): "No se pudo certificar" : "Sin certificar"}}     </td>
          <td>
            <svg
              *ngIf="item.estado"
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="34"
              height="34"
              viewBox="0,0,256,256"
              style="fill: #000000"
            >
              <g
                fill="#04a777"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
              >
                <g transform="scale(3.55556,3.55556)">
                  <path
                    d="M62.991,18.668c1.854,1.2 2.386,3.677 1.186,5.531l-4.642,7.173c0.294,1.5 0.465,3.043 0.465,4.628c0,13.25 -10.75,24 -24,24c-13.25,0 -24,-10.75 -24,-24c0,-13.25 10.75,-24 24,-24c5.99,0 11.46,2.2 15.67,5.83l-14.19,21.93l-8.15,-9.33c-1.09,-1.25 -2.98,-1.38 -4.23,-0.29c-1.25,1.09 -1.38,2.98 -0.29,4.23l10.76,12.34c0.58,0.65 1.4,1.03 2.26,1.03c0.08,0 0.15,-0.01 0.22,-0.01c0.94,-0.07 1.79,-0.57 2.3,-1.36l17.11,-26.516c1.2,-1.856 3.675,-2.387 5.531,-1.186z"
                  ></path>
                </g>
              </g>
            </svg>
            <svg
              *ngIf="!item.estado"
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="34"
              height="34"
              viewBox="0,0,256,256"
              style="fill: #000000"
            >
              <g
                fill="#9b1d20"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
              >
                <g transform="scale(5.33333,5.33333)">
                  <path
                    d="M24,4c-11.02201,0 -20,8.978 -20,20c0,11.022 8.97799,20 20,20c11.02201,0 20,-8.978 20,-20c0,-11.022 -8.97799,-20 -20,-20zM24,8c3.70451,0 7.06654,1.29831 9.77344,3.39844l-22.375,22.375c-2.10013,-2.70689 -3.39844,-6.06893 -3.39844,-9.77344c0,-8.86025 7.13975,-16 16,-16zM36.60156,14.22656c2.10013,2.7069 3.39844,6.06893 3.39844,9.77344c0,8.86025 -7.13975,16 -16,16c-3.70451,0 -7.06654,-1.29831 -9.77344,-3.39844z"
                  ></path>
                </g>
              </g>
            </svg>
          </td>
          <td>
            <button (click)="selectInscripcionCertificar(item)" *ngIf="item.certificacion?.estado == null && !item.certificacion?.fecha">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="34"
                height="34"
                viewBox="0 0 48 48"
              >
                <linearGradient
                  id="MKomEWifiuPrQgaP9QvlCa_MG9ci5zWEW89_gr1"
                  x1="41.945"
                  x2="37.951"
                  y1="8.5"
                  y2="8.5"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0" stop-color="#0d61a9"></stop>
                  <stop offset="1" stop-color="#16528c"></stop>
                </linearGradient>
                <path
                  fill="url(#MKomEWifiuPrQgaP9QvlCa_MG9ci5zWEW89_gr1)"
                  d="M37,11h5V8c0-1.105-0.895-2-2-2h-3V11z"
                ></path>
                <linearGradient
                  id="MKomEWifiuPrQgaP9QvlCb_MG9ci5zWEW89_gr2"
                  x1="14.002"
                  x2="35.437"
                  y1="6.793"
                  y2="42.14"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0" stop-color="#7dd8f3"></stop>
                  <stop offset="1" stop-color="#45b0d0"></stop>
                </linearGradient>
                <path
                  fill="url(#MKomEWifiuPrQgaP9QvlCb_MG9ci5zWEW89_gr2)"
                  d="M36,42H10c-1.105,0-2-0.895-2-2V8c0-1.105,0.895-2,2-2l30,0c-1.105,0-2,0.895-2,2v32	C38,41.105,37.105,42,36,42z"
                ></path>
                <linearGradient
                  id="MKomEWifiuPrQgaP9QvlCc_MG9ci5zWEW89_gr3"
                  x1="20"
                  x2="20"
                  y1="37.284"
                  y2="42.01"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0" stop-color="#0176d0"></stop>
                  <stop offset="1" stop-color="#16538c"></stop>
                </linearGradient>
                <path
                  fill="url(#MKomEWifiuPrQgaP9QvlCc_MG9ci5zWEW89_gr3)"
                  d="M34,40v-3H4v3c0,1.105,0.895,2,2,2h30C34.895,42,34,41.105,34,40z"
                ></path>
                <path
                  fill="#057093"
                  d="M32.5,19h-19c-0.276,0-0.5-0.224-0.5-0.5v-2c0-0.276,0.224-0.5,0.5-0.5h19c0.276,0,0.5,0.224,0.5,0.5	v2C33,18.776,32.776,19,32.5,19z"
                ></path>
                <path
                  fill="#057093"
                  d="M32.5,25h-19c-0.276,0-0.5-0.224-0.5-0.5v-2c0-0.276,0.224-0.5,0.5-0.5h19c0.276,0,0.5,0.224,0.5,0.5	v2C33,24.776,32.776,25,32.5,25z"
                ></path>
                <path
                  fill="#057093"
                  d="M32.5,31h-19c-0.276,0-0.5-0.224-0.5-0.5v-2c0-0.276,0.224-0.5,0.5-0.5h19c0.276,0,0.5,0.224,0.5,0.5	v2C33,30.776,32.776,31,32.5,31z"
                ></path>
              </svg>
            </button>
            <button (click)="deleteInscripcion(item)" *ngIf="usuarioRole =='ADMIN'">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                viewBox="0 0 48 48"
              >
                <path
                  fill="#9575CD"
                  d="M34,12l-6-6h-8l-6,6h-3v28c0,2.2,1.8,4,4,4h18c2.2,0,4-1.8,4-4V12H34z"
                ></path>
                <path
                  fill="#7454B3"
                  d="M24.5 39h-1c-.8 0-1.5-.7-1.5-1.5v-19c0-.8.7-1.5 1.5-1.5h1c.8 0 1.5.7 1.5 1.5v19C26 38.3 25.3 39 24.5 39zM31.5 39L31.5 39c-.8 0-1.5-.7-1.5-1.5v-19c0-.8.7-1.5 1.5-1.5l0 0c.8 0 1.5.7 1.5 1.5v19C33 38.3 32.3 39 31.5 39zM16.5 39L16.5 39c-.8 0-1.5-.7-1.5-1.5v-19c0-.8.7-1.5 1.5-1.5l0 0c.8 0 1.5.7 1.5 1.5v19C18 38.3 17.3 39 16.5 39z"
                ></path>
                <path
                  fill="#B39DDB"
                  d="M11,8h26c1.1,0,2,0.9,2,2v2H9v-2C9,8.9,9.9,8,11,8z"
                ></path>
              </svg>
            </button>
            <!-- <button (click)="selectInscripcionEditar(item)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                viewBox="0 0 64 64"
              >
                <path
                  fill="#ed7899"
                  d="M46.2,7.92h9.63a4,4,0,0,1,4,4V17.1a0,0,0,0,1,0,0H42.2a0,0,0,0,1,0,0V11.92a4,4,0,0,1,4-4Z"
                  transform="rotate(45 51.017 12.512)"
                ></path>
                <path
                  fill="#c2cde7"
                  d="M32.5 15.51H55.129999999999995V24.869999999999997H32.5z"
                  transform="rotate(45 43.817 20.19)"
                ></path>
                <path
                  fill="#f9e3ae"
                  d="M17.12 17.45H35.5V57.92999999999999H17.12z"
                  transform="rotate(45 26.318 37.691)"
                ></path>
                <path
                  fill="#f6d397"
                  d="M27.38 21.7H33.74V62.17999999999999H27.38z"
                  transform="rotate(45 30.567 41.941)"
                ></path>
                <path
                  fill="#faefde"
                  d="M5 57L6 46 13 47 14 50 16.92 51.5 19 59 7 59 5 57z"
                ></path>
                <path
                  fill="#faefde"
                  d="M18.88 13.2H25.24V53.67999999999999H18.88z"
                  transform="rotate(45 22.068 33.441)"
                ></path>
                <path
                  fill="#8d6c9f"
                  d="M60.59,15.9a4,4,0,0,0-1.17-2.83L50.93,4.59a4.09,4.09,0,0,0-5.66,0L41,8.83a2,2,0,0,0-2.83,0l-5.66,5.66a2,2,0,0,0,0,2.83l.05.05L5.52,44.4a3,3,0,0,0-.87,1.88L4,54.68l-.7,4.92a1,1,0,0,0,1,1.14H4.4L9.32,60l8.45-.62a3,3,0,0,0,1.9-.87l27.08-27a2,2,0,0,0,2.77,0l5.66-5.66a2,2,0,0,0,0-2.83l4.24-4.24A4,4,0,0,0,60.59,15.9Zm-48.69,32,.58,2.88a1,1,0,0,0,.78.78l2.88.58,1.07,5.34L9.59,58,6,54.41l.61-7.6ZM19,56.35l-1-4.77L34.67,35a1,1,0,0,0-1.41-1.41L16.66,50.17,14.3,49.7l-.47-2.36L27.59,33.58a1,1,0,0,0-1.41-1.41L12.42,45.93,7.75,45,34,18.78,45.32,30.09ZM52.34,25.8h0a1,1,0,0,0-1.41,0l-1.41,1.41a1,1,0,0,0,0,1.41h0L48.1,30h0L34,15.9l1.41-1.41a1,1,0,0,0,1.41,0l1.41-1.41a1,1,0,0,0,0-1.41l1.41-1.41.71.71L53.05,23.68l.71.71ZM58,17.31l-4.24,4.24L42.44,10.24,46.69,6a2,2,0,0,1,2.83,0L58,14.49a2,2,0,0,1,0,2.83Z"
                ></path>
                <path
                  fill="#8d6c9f"
                  d="M40.32 15.19l-1.41 1.41A1 1 0 1 0 40.32 18l1.41-1.41a1 1 0 0 0-1.41-1.41zM43.86 18.73l-1.41 1.41a1 1 0 1 0 1.41 1.41l1.41-1.41a1 1 0 0 0-1.41-1.41zM47.39 22.26L46 23.68a1 1 0 1 0 1.41 1.41l1.41-1.41a1 1 0 0 0-1.41-1.41zM31.84 26.51L29 29.33a1 1 0 1 0 1.41 1.41l2.83-2.83a1 1 0 0 0-1.41-1.41z"
                ></path>
              </svg>
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <app-capacitaciones-fomulario
  [capacitacionEditar]="capacitacionEditarSeleccionado"
  *ngIf="isVisibleFormularioCapacitaciones"
  (onHide)="onFormularioCapacitacionHide($event)"
  (resultFormulario)="resultadoFormularioCapacitacion($event)"
></app-capacitaciones-fomulario> -->
<app-inscripciones-formulario-cetificacion
  [inscripcionCertificacion]="inscripcionCertificar"
  (onHide)="onFormularioInscripcionCertificarHide($event)"
  *ngIf="isVisibleFormularioInscripcionesCertificar"
  (resultFormulario)="resultadoFormularioCapacitacion($event)"
></app-inscripciones-formulario-cetificacion>
<app-notificaciones-push #notificacion></app-notificaciones-push>
